@import url("https://edge.opsfet.ch/styles/postmod/style.css");

body {
  background: rgb(14.7355%,40.2934%,31.8498%) url("/custom/images/opsfabric.jpg") no-repeat fixed;
  font-family: Helvetica, Arial, sans-serif;
  background-size: cover;
}